@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightslategrey;
}

/* Drumpad container */
#display {
  width: 40%;
  min-height: 300px;
  border: 2px solid lightcoral;
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-family: "Montserrat";
  font-weight: 500;
  background-color: #2196F3;
}

.drumpads {
  /* border: 2px solid skyblue; */
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

/* Drumpad */
.drum-pad {
  width: 90px;
  height: 70px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.drum-pad:active {
  transform: scale(0.9);
}

.highlight {
  background-color: lightsalmon;
}

/* Controls */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.powerButton > p, .bankButton > p {
  margin-bottom: 3px;
}

.infoLabel {
  background-color: lightslategrey;
  width: 150px;
  height: 20px;
  text-align: center;
  padding: 4px;
  border: 2px solid black;
}


/* On/Off switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border: 2px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  border: 2px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}



input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  background-color: rgb(201, 52, 32);
  transform: translateX(26px);
}

/* Slider */
.volume-slider:hover {
  opacity: 1;
  cursor: pointer;
}



